<h2>Order Details</h2>

<p><strong>Order ID:</strong> <%= @order.id %></p>
<p><strong>User:</strong> <%= @order.user.name %></p>
<p><strong>Status:</strong> <%= @order.status.capitalize %></p>
<p><strong>Total:</strong> ₹ <%= @order.total_amount %></p>

<hr>

<% @order.order_items.each do |item| %>
  <div>
    <strong><%= item.product.name %></strong><br>
    Quantity: <%= item.quantity %><br>
    Price: ₹ <%= item.price %><br>
    Subtotal: ₹ <%= item.price * item.quantity %>
  </div>
  <hr>
<% end %>

<%= link_to "Back", admin_orders_path %>