<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "ShopApp", root_path, class: "navbar-brand" %>

    <ul class="navbar-nav ms-auto">

      <% if logged_in? %>

        <!-- Welcome -->
        <li class="nav-item">
          <span class="nav-link text-light">
            Hello, <%= current_user.name %>
          </span>
        </li>

        <% if current_user.admin? %>

          <!-- Admin Only -->
          <li class="nav-item">
            <%= link_to "Admin Dashboard",
                        admin_root_path,
                        class: "nav-link" %>
          </li>

        <% else %>

          <!-- Customer Only -->

          <!-- Wishlist with Badge -->
          <li class="nav-item">
            <%= link_to wishlists_path, class: "nav-link position-relative" do %>
              Wishlist
              <% if current_user.wishlists.count > 0 %>
                <span class="badge bg-danger ms-1">
                  <%= current_user.wishlists.count %>
                </span>
              <% end %>
            <% end %>
          </li>

          <!-- Cart with Badge -->
          <li class="nav-item">
            <%= link_to cart_path, class: "nav-link position-relative" do %>
              Cart
              <% if current_user.cart.cart_items.count > 0 %>
                <span class="badge bg-success ms-1">
                  <%= current_user.cart.cart_items.count %>
                </span>
              <% end %>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to "My Orders",
                        orders_path,
                        class: "nav-link" %>
          </li>

        <% end %>

        <!-- Logout -->
        <li class="nav-item">
          <%= link_to "Logout",
                      logout_path,
                      data: { turbo_method: :delete },
                      class: "nav-link" %>
        </li>

      <% else %>

        <!-- Guest -->
        <li class="nav-item">
          <%= link_to "Login", login_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Sign Up", new_user_path, class: "nav-link" %>
        </li>

      <% end %>

    </ul>
  </div>
</nav>